:root {
    --black :#000000;
    --white:#FFFFFF;
    --blue:#23A9E1;
    --light-blue: #81B3D2;
    --simple-blue:#669EC0;
    --dark-blue:#5496BD;
    --red:#FF0000;
    --black-grey:#6A6A6A;
    --grey:#BDBBBC;
    --brown:#766357;
    --borwn-simle:#604E43;
    --brown-black:#503E33;
    --black-footer:#231F20;
}
body {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: var(--black);
    text-transform: uppercase;
    background-color: var(--white);
}
.page a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto
}
.main-navigator {
    font-size: 14px;
    line-height: 26px;
    color: var(--black);
    background-color: var(--white);
}
.site-navigation {
    list-style: none;
}
.site-navigation a{
    color: var(--black);
    font-weight: bold;
    text-decoration: none;
}
.site-navigation a:hover,
.site-navigation a:focus {
    background-color:var(--white);
    color:var(--light-blue);
}
.site-navigation a:active {
    background-color:var(--white);
    color:var(--black);
    opacity: 0.3;
}
.features-welcome {
    list-style: none;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
}
.features-img {
    width: 1200px;
    height: 509px;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url(../img/backgroundsedona.jpg);
}
.features-welcome h1 {
    text-align: center;
    list-style: none;
    font-size: 21px;
    line-height: 26px;
}
.features {
    list-style: none;
    text-align: center;
    font-size: 14px;
}
.features h2 {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    font-style: normal;
}
.feature-list {
    list-style: none;
}
.feature-item {
    list-style: none;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
}
.feature-item h3 {
    text-align: center;
    font-size: 21px;
    line-height: 21px;
}
.feature-item-blue {
    list-style: none;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    background-color: var(--light-blue);
    width: 400px;
    height: 256px;
    padding-top: 47px;
}
.feature-item-blue h3 {
    list-style: none;
    text-align: center;
    font-size: 21px;
    line-height: 21px;
}
.map-registration {
    list-style: none;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
}
.map-registration h2 {
    list-style: none;
    text-align: center;
    font-size: 30px;
    line-height: 24px;
}
.button-search {
    text-transform: uppercase;
    color:var(--white);
    background-color:var(--brown);
    font-size:21px;
    line-height: 26px;
    width:568px;
    height:86px;
    border: none;
}
.button-search:hover,
.button-search:focus {
    background-color: var(--borwn-simle);
    color: var(--white);
}
.button-search:active {
    background-color: var(--brown-black);
    color: var(--white);
}
.button-blue {
    color: var(--white);
    background-color: var(--light-blue);
    font-size: 21px;
    line-height: 21px;
    width: 458px;
    height: 58px;
    text-transform: uppercase;
    border: none;
}
.button-blue:hover,
.button-blue:focus {
    background-color: var(--simple-blue);
    color: var(--white);
}
.button-blue:active {
    background-color: var(--dark-blue);
    color: var(--white);
    mix-blend-mode: normal;
}
.label-search {
    font-weight: bold;
    text-transform: uppercase;
}
.input-search {
    font-weight: bold;
    text-transform: uppercase;
}
.page-footer {
    font-size: 14px;
    line-height: 21px;
    list-style: none;
}
.footer-contacts {
    text-transform: uppercase;
    font-size: 21px;
    line-height: 21px;
    color: var(--black);
    font-style: bold;
}
.footer-contacts a {
    color:var(--black);
    font-size: 21px;
    line-height: 21px;
    font-style: bold;
}
.footer-contacts h2 {
}
.footer-social {
    text-align: center;
}
.footer-social ul {
    list-style: none;
}
.footer-copyright {
    
}
.social-button {
    text-align: center;
    color: black;
}
.button {
    color: black;
}
/**hotels**/
.filter-option {
    list-style: none;
}
.filter-option ul {
    list-style: none;
}
