:root {
    --black :#000000;
    --white:#FFFFFF;
    --blue:#23A9E1;
    --light-blue: #81B3D2;
    --simple-blue:#669EC0;
    --dark-blue:#5496BD;
    --red:#FF0000;
    --black-grey:#6A6A6A;
    --grey:#BDBBBC;
    --brown:#766357;
    --borwn-simle:#604E43;
    --brown-black:#503E33;
    --black-footer:#231F20;
}